extends layout

block stylesheets
  link(rel='stylesheet', href='/css/style.css')

block content
  .draw-container
    
block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/js/app.js')
