extends layout

block stylesheets
  link(rel='stylesheet', href='/dist/style.css')

block content
  .main-container
    .draw-container
    .chat-container
  footer
    button.participants
      span#numUsers 0
      | &nbsp;🤖
    button#chatToggle.disabled(disabled)

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/dist/bundle.js')
