extends layout

block stylesheets

block content
  canvas.whiteboard
  .toolbar
    .colors
      .color(data-color='black')
      .color(data-color='red')
      .color(data-color='green')
      .color(data-color='blue')
      .color(data-color='yellow')
    button#clear Clear

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/js/app.js')
