extends layout

block stylesheets
  link(rel='stylesheet', href='/css/combo.min.css')

block content
  .main-container
    .draw-container
    .chat-container
  footer
    button.participants
      span#numUsers 0
      | &nbsp;🤖
    button#chatToggle.disabled(disabled)

block scripts
  script(src='/js/socket.io.js')
  script(src='/js/combo.js')
